@include trump(active) {
    overflow: auto;
    max-height: 500px;
    @include vendor(transition, 1s ease-out);
}

@include trump(inactive) {
    max-height: 0;
    overflow: hidden;
    @include vendor(transition, .5s);
    @include vendor(transition-property, all);
}

@include trump(active--width) {
    max-width: 1000px;
    @include vendor(transition, 1s ease-out);
}

@include trump(inactive--width) {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    @include vendor(transition, .5s);
    @include vendor(transition-property, all);
}

@include trump(selected) {
    @include icon("after", $check);
}
