.push-quarter           { margin:        $quarter-spacing-unit!important; }
.push-quarter--top      { margin-top:    $quarter-spacing-unit!important; }
.push-quarter--right    { margin-right:  $quarter-spacing-unit!important; }
.push-quarter--bottom   { margin-bottom: $quarter-spacing-unit!important; }
.push-quarter--left     { margin-left:   $quarter-spacing-unit!important; }
.push-quarter--ends     { margin-top:    $quarter-spacing-unit!important; margin-bottom: $quarter-spacing-unit!important; }
.push-quarter--sides    { margin-right:  $quarter-spacing-unit!important; margin-left:   $quarter-spacing-unit!important; }

.soft-quarter           { padding:        $quarter-spacing-unit!important; }
.soft-quarter--top      { padding-top:    $quarter-spacing-unit!important; }
.soft-quarter--right    { padding-right:  $quarter-spacing-unit!important; }
.soft-quarter--bottom   { padding-bottom: $quarter-spacing-unit!important; }
.soft-quarter--left     { padding-left:   $quarter-spacing-unit!important; }
.soft-quarter--ends     { padding-top:    $quarter-spacing-unit!important; padding-bottom: $quarter-spacing-unit!important; }
.soft-quarter--sides    { padding-right:  $quarter-spacing-unit!important; padding-left:   $quarter-spacing-unit!important; }

.palm--show {
    display: none;

    @include media-query(palm) {
        display: block;
    }
}

.palm--hide {

    @include media-query(palm) {
        display: none;
    }
}

.position--relative {
    position: relative;
}

.position--top-right{
    position: absolute;
    top: 0;
    right: 0;
}
