body {
    background-color: $bravo;
    margin-top: $header-height;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    height: $header-height;
    background-color: $charlie;
    z-index: 100;
}

nav {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: $max-width;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
