body {
    background-color: $bravo;
    margin-top: $header-height;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    height: $header-height;
    background-color: $charlie;
}

nav {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: $max-width;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

input,
.search__btn {
    &:focus {
        outline: 0;
    }
}
