@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?-obyycc");
    src: url("../fonts/icomoon.eot?#iefix-obyycc") format("embedded-opentype"),
         url("../fonts/icomoon.ttf?-obyycc") format("truetype"),
         url("../fonts/icomoon.woff?-obyycc") format("woff"),
         url("../fonts/icomoon.svg?-obyycc#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
