@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?hke6o5");
    src: url("../fonts/icomoon.eot?#iefixhke6o5") format("embedded-opentype"),
         url("../fonts/icomoon.ttf?hke6o5") format("truetype"),
         url("../fonts/icomoon.woff?hke6o5") format("woff"),
         url("../fonts/icomoon.svg?hke6o5#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
