.tile--expander {
    position: relative;
    z-index: 1;
    background-color: $golf;
    transition-property: all;
    @include vendor(transition, .5s);
}

.tile__main {
    background-color: $golf;
    position: relative;
    z-index: 3;
}

.tile__expand {
    position: absolute;
    top: 0;
    right: 0;
}

.tile__img {
    width: 400px;
}

.tile--blur {
    opacity: .5;
    z-index: 0;
}
