footer {
    @include media-query(portable) {
        font-size: 13px;
    }

    // @include media-query(lap) {
        // font-size: 13px;
    // }
}

.subscribe-text {
    padding: 10px;
    color: $bravo;
    text-align: center;
    background-color: $foxtrot;
}
