[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons: (
    search: "\e600",
    plus: "\e601",
    minus: "\e602",
    cross: "\e603",
    mail: "\e604",
    facebook: "\e605",
    twitter: "\e606",
    check: "\e607"
);

@each $name, $icon in $icons {
    .icon-#{$name}--before:before,
    .icon-#{$name}--after:after {
        content: $icon;
    }
}
