[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--search {
    &:before {
        content: "\e600";
    }
}

.icon--plus {
    &:before {
        content: "\e601";
    }
}

.icon--minus {
    &:before {
        content: "\e602";
    }
}

.icon--cross {
    &:before {
        content: "\e607";
    }
}

.icon--mail {
    &:before {
        content: "\e603";
    }
}

.icon--facebook {
    &:before {
        content: "\e604";
    }
}

.icon--twitter {
    &:before {
        content: "\e605";
    }
}
