.product-bottom {
    text-align: right;
}

.product-price-cnt {
    text-transform: uppercase;
}

.product-price {
    border-style: solid;
    border-color: $hotel;
    border-width: 3px 0;
    padding: .5em 1em;
}
