// TODO: check the filename and the object name, follow the naming conventions.
.tile--expander {
    position: relative;
    z-index: 1;
    background-color: $golf;
    transition-property: all;
    @include vendor(transition, .5s);
}

.tile__main {
    background-color: $golf;
    position: relative;
    z-index: 3;
}

.tile__expand {
    position: absolute;
    top: 0;
    right: 0;
}

// TODO: check whether this class belongs in this file. This setup
// currently indiciates that this class is tighly linked to the
// tile object.
.blur {
    opacity: .5;
    z-index: 0;
}
